.bg{
    height: 100vh;
    width: 100%;
    background: url('../../../assets/images/ai/background-ai.jpg') no-repeat center;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin-top: 10px;
  }
  .main-text-container {
    /* width: 80%; */
    /* align-content: center; */
  }
  .main-text {
    font-size: large;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0.1vh 0.1vh white;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
  }
  .card-style {
    width: 30%;
    height: 70vh;
    background-color: black;
    opacity: 0.5;
    transition: transform .2s;
  }
  .card-container :hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.8;
  }
  .card-text {
    text-align: center;
    font-size: large;
    color:white;
  }
  .card-sub-text {
    color: white;
    font-size: medium;
    text-align: center;
  }
  /* .card-style :hover{
    text-shadow: 5% 5%;
  } */
  .ai-img {
    height: 60%;
    margin: auto;
  }
  .ml-img {
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }
  .dl-img {
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }