<div class="bg">
  <div class="main-text-container">
      <p class="main-text">
          It takes orchestration to bring your AI goals to fruition. According to IDC, 23% of businesses haven’t identified the right software or algorithms for the AI solution they're considering, and 77% feel limited by their infrastructure. Learn how to quickly move past roadblocks on your AI journey and realize the operational gains of machine intelligence.
        </p>
  </div>
  
  <div class="card-container ">
    <mat-card class="card-style animated bounceInUp delay-5s">
      <img src="../../../assets/images/ai/ai-card-icon.png" class="ai-img"/>
      <p class="card-text">Artificial Intelligence</p>
      <p class="card-sub-text">Artificial intelligence (AI) is a term for simulated intelligence in machines. These machines are programmed to "think" like a human and mimic the way a person acts.</p>
    </mat-card>
    <mat-card class="animated bounceInDown delay-6s card-style">
      <img src="../../../assets/images/ai/ml-card-icon.png" class="ml-img"/>
      <p class="card-text">Machine Learning</p>
      <p class="card-sub-text">Machine learning is a field of computer science that uses statistical techniques to give computer systems the ability to "learn" (e.g., progressively improve performance on a specific task) with data, without being explicitly programmed.</p>
      </mat-card>
    <mat-card class="card-style animated bounceInUp delay-7s">
        <img src="../../../assets/images/ai/dl-card-icon.png" class="dl-img"/>
      <p class="card-text">Deep Learning</p>
      <p class="card-sub-text">Deep learning is part of a broader family of machine learning methods based on learning data representations, as opposed to task-specific algorithms. Learning can be supervised, semi-supervised or unsupervised.</p>
    </mat-card>   
    
  </div>
</div>
