  <!-- first page -->
  <div class="main-img row" style="overflow: hidden">
    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
      <!--<button mat-button-raised (click)="AiMlDlButtonClick()">AI ML DL</button>-->
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/cat.png" width="40" alt="cat1">
        <p>AI, ML & <br> DL</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="AiMlDlButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg');">
      <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
      <!-- <button mat-button-raised (click)="gameDevButtonClick()">Game developing</button> -->
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/digital-marketing.png" width="40" alt="cat1">
        <p>Game <br> Development</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="AiMlDlButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
      <!-- <button mat-button-raised (click)="digiMarketingButtonClick()">Digital Marketing</button> -->
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/sw-development.png" width="40" alt="cat1">
        <p>Digital <br> Marketing</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="AiMlDlButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
      <!-- <button mat-button-raised (click)="swDevButtonClick()">SW Dev</button> -->
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/web_icon.png" width="40" alt="cat1">
        <p>Software <br> Development</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="AiMlDlButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
      <!-- <button mat-button-raised (click)="swDevButtonClick()">SW Dev</button> -->
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/ui_icon.png" width="40" alt="cat1">
        <p>Mobile <br> Development</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="AiMlDlButtonClick()">FIND OUT MORE</button>
      </div>
    </div>
  </div>

<!-- second page -->
<div class="col-xs-12 hello_user text-center bg_morning">
  <div style="background-image: url(./assets/images/home/tumblr.gif)">
    <div class="secondDiv">
      <div class="companyLogo">
        <!--<div class="col-md-2 companyLogoDiv" style="background-image: url('.././assets/images/toolbar/companyLogo.jpg');">
        </div>-->
        <img src=".././assets/images/toolbar/companyLogo.jpg" style="width: 200px;height: 200px">
        <h1>Hello!</h1>
        <h2>Meet BrainArts Family</h2>

        <br><br><br>
        <span><button class="helloBtn">Say Hello</button></span>
      </div>
    </div>
  </div>
</div>



<div class="home-sections">
  <h1>Our Clients</h1>
</div>

<div class="clients" style="background-image: url('./assets/images/home/Clients.jpg')">
  <!--<mat-card>-->
  <!--<h1>Our Clients</h1>-->
  <!--<p>this is clients</p>-->
  <!--</mat-card>-->
</div>


<div class="home-sections">
  <h1>Projects</h1>
</div>




<div class="row wow bounceInUp" style="padding-left: 200px;margin-top: 40px">
  <div class="col-md-5 project-section">
    <div class="projects projects1" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
    <div class="txt_cont">Test</div>
  </div>

  <div class="col-md-5">
    <div class="row">

      <div class="col-md-12 project-section1">
        <div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
        <div class="txt_cont">Test 1</div>
      </div>

      <div class="col-md-6 project-section2">
        <div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
        <div class="txt_cont">Test 2</div>
      </div>

      <div class="col-md-6 project-section3">
        <div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
        <div class="txt_cont">Test 3</div>
      </div>
    </div>
  </div>
</div>

