.main-img-set{
  width: 20%;
  /* height: 40%; */
  white-space: nowrap;
}
.main-img img{
  white-space: nowrap;
  float: left;
}
.secondDiv {
  text-align: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 100%;
  height: 100vh;

  overflow: hidden;
}

/*.companyLogoDiv{
  align-content: center;
  background-size: cover;
  height: 200px;
}*/

.companyLogo{
  padding-top: 8%;

  height: 300px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.companyLogo h1{
  font-size: 80px;
  color: white;
  margin: 15px 0 30px 0;
  font-family: AvenirNextLTPro, "Open Sans", serif;
}
.companyLogo h2{
  font-size: 80px;
  color: white;
  font-weight:300;
  line-height:30px;
  font-family: AvenirNextLTPro, "Open Sans", serif;
}

.helloBtn {
  background: red;
  box-shadow: 10px 10px 8px #777777;
  transition: backgroud 0.5s ease-in-out;
  border: yellow;
  font-size: 30px;
  cursor: pointer;
  color: blanchedalmond;
  margin-top: -200px;
}
.helloBtn:hover {
  background: yellow;
  color: black;
  transform: rotateX(360deg);
  transition: 1.4s;
}

/* Create five equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}


.main-divs{
  height: calc(650px);
  width:  20%;
  display: inline-block;
  /*background-size: contain;*/
  background-repeat: no-repeat;
  background-position: center;

  /*companyLogo*/
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.findoutmore {
  text-align: center;
}

.green-button {
  position: absolute;
  top: 50%;
  font-size: 14px;
  text-transform: uppercase;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  transition: background-color 1s;
  padding: 6px 15px;
  margin-top: 100px;
  margin-left: -68px;
}



.main-divs:hover {
  transform: scale(1.1);
}


.clients h1{
  font-family: Fertigo Pro, sans-serif;
  color: #777777;
  font-size: 30px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.green-button:hover{
  background-color: orange;
  color: white;
  /*outline: 1px solid orange;*/
  /*outline-offset: 5px;*/
  visibility: visible;

}
.package-button {
  position: absolute;
  top: 35%;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  transition: background-color 1s;
  padding: 80px 115px;

  /*-webkit-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
  /*display: none;*/
}


.package-button p{
  position: absolute;
  top: 66%;
  color: white;
  text-align: center;
  margin-left: -20px;
}


.main-divs:hover::before{
  /*content: "";   ---mouse on div it become dark-----*/
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  height: 650px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.main-divs:hover .findoutmore button{
  /*display: block;*/
  /*animation-duration: 1s;*/
  /*animation-fill-mode: both;*/
  /*animation-name: fadeIn;*/
  visibility: visible;
}

.main-divs .findoutmore button{
  visibility: hidden;
}

.home-sections{
  height: 100px;
  /*margin-top: 40px;*/
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 35px;
  padding: 60px 20px;
  font-family: arial, sans-serif;
}

.clients{
  background-size: 100%;
  height: 50vh;
}

/*
@media (max-width: 576px) {
  .bird{
    height: 20px;
  }
}*/

@media (max-width: 768px) {
  .slider-enquire {
    bottom: -315.5px;
  }
}
.projects{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.projects:hover{
  transform: scale(1.1);
}

.projects-text-wrapper{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.txt_cont{
  text-align: left;
  position: absolute;
  padding: 10px 2vw;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  font-family: AvenirNextLTPro, "Open Sans", serif;
}

.projects1{
  height: 400px;
}
.projects2{
  height: 196px;
}

.project-section{
  overflow: hidden;
}
.project-section1{
  /*background-color: #afaeae;*/
  padding-left: 0;
  padding-right: 0px;
  overflow: hidden;
}

.project-section2{
  padding-left: 0;
  padding-right: 10px;
  padding-top: 12.5px;
  overflow: hidden;
}

.project-section3{
  padding-left: 10px;
  padding-right: 0;
  padding-top: 12.5px;
  overflow: hidden;
}
/*
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}*/

main-panel-text :hover {
  text-shadow: 2px 2px red;
}
