<mat-card class="selector noshadow">
<div class="paging-1" >
  <!-- first page -->
  <div class="main-img row" style="overflow: hidden">
    <div class="col-sm main-divs animated bounceInLeft" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')" (click)="AiMlDlButtonClick()">
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/cat.png" width="40" alt="cat1">
        <p class="main-panel-text">AI, ML & <br> DL Related Solutions</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="AiMlDlButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="col-sm main-divs animated bounceInDown" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg');" (click)="gameDevButtonClick()">
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/digital-marketing.png" width="40" alt="cat1">
        <p>Game <br> Development</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="gameDevButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="col-sm main-divs animated bounceInUp" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')" (click)="digiMarketingButtonClick()">
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/sw-development.png" width="40" alt="cat1">
        <p>Digital <br> Marketing</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="digiMarketingButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="col-sm main-divs animated bounceInDown" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')" (click)="swDevButtonClick()">
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/web_icon.png" width="40" alt="cat1">
        <p>Enterprise Software <br> Development</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="swDevButtonClick()">FIND OUT MORE</button>
      </div>
    </div>

    <div class="col-sm main-divs animated bounceInRight" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')" (click)="mobileDevButtonClick()">
      <div class="package-button">
        <img class="main_icon" src="assets/images/home/ui_icon.png" width="40" alt="cat1">
        <p>Mobile Application <br> Development</p>
      </div>
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-danger green-button" (click)="mobileDevButtonClick()">FIND OUT MORE</button>
      </div>
    </div>
  </div>
</div>
</mat-card>


<!-- second page -->
<div class="col-xs-12 hello_user text-center bg_morning animated slideInLeft">
  <div style="background-image: url(./assets/images/home/c.gif)">
    <div class="secondDiv">
      <div class="companyLogo">
        <!--<div class="col-md-2 companyLogoDiv" style="background-image: url('.././assets/images/toolbar/companyLogo.jpg');">
        </div>-->
        <img src=".././assets/images/toolbar/companyLogo.jpg" style="width: 200px;height: 200px">
        <h1>Hello!</h1>
        <h2>Meet BrainArts Family</h2>

        <br><br><br>
        <span><button class="helloBtn">Say Hello</button></span>
      </div>
    </div>
  </div>
</div>

<div class="home-sections">
  <h1 style="font-size: 40px;margin-top: 460px">Our Clients</h1>
</div>
<mat-card>
  <div class="clients animated slideInRight" style="background-image: url('./assets/images/home/Clients.jpg')">
  </div>
</mat-card>


<div class="home-sections">
  <h1 style="font-size: 40px;margin-top: -20px">Projects</h1>
</div>


  <!--<div class="row wow bounceInUp" style="padding-left: 200px;margin-top: 40px">-->
    <!--<div class="col-md-5 project-section px-0">-->
      <!--<div class="projects projects1" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>-->
      <!--<div class="txt_cont">Test</div>-->
    <!--</div>-->

    <!--<div class="col" style="padding: 0; max-width: 6px"></div>-->

    <!--<div class="col-md-5">-->
      <!--<div class="row">-->

        <!--<div class="col-md-12 project-section1" style="margin-bottom: 8px">-->
          <!--<div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>-->
          <!--<div class="txt_cont">Test 1</div>-->
        <!--</div>-->

        <!--<div class="col-md-6 project-section2 p-0" style="max-width: 80%">-->
          <!--<div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>-->
          <!--<div class="txt_cont">Test 2</div>-->
        <!--</div>-->

        <!--<div class="col" style="padding: 0; max-width: 80%"></div>-->

        <!--<div class="col-md-6 project-section3 p-0" style="max-width: 300px">-->
          <!--<div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>-->
          <!--<div class="txt_cont">Test 3</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


<div class="container">
  <div class="row">
    <div class="col-sm-6 project-section px-0 project-animation1" (scroll)="onScroll()" id="project-animation1">
      <div class="projects projects1" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
      <div class="txt_cont">Test</div>
    </div>

    <div class="col" style="padding: 0; max-width: 6px"></div>

    <div class="col-sm-6">
      <div class="col-sm project-section1 animated bounceInRight" style="margin-bottom: 8px">
        <div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
        <div class="txt_cont">Test 1</div>
    </div>

      <div class="col-sm">
        <div class="row">
        <div class="col-sm-6 project-section2 p-0 animated bounceInUp" style="max-width: 50%">
          <div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
          <div class="txt_cont">Test 2</div>
        </div>

        <div class="col" style="padding: 0; max-width: 80%"></div>

        <div class="col-sm-6 project-section3 p-0 animated bounceInUp" style="max-width: 250px">
          <div class="projects projects2" style="background-image: url('https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg');"></div>
          <div class="txt_cont">Test 3</div>
        </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--<div (scroll)="onScroll()" id="packages">-->
<!--<h1 class="btn">Example</h1>-->
<!--</div>-->
