<!-- <mat-card color="">
  <mat-card-title>
    BrainArts International
  </mat-card-title>
  <mat-card-content>
    <span class="mainText">BrainArts International</span>
    <span>WISH IT | DREAM IT | DO IT</span>
    <span class="toolbar-sapcer"></span>
    <span>About</span>
  </mat-card-content>
</mat-card> -->

<mat-toolbar class="toolbar-class">
  <mat-toolbar-row class="text-class">
      <span><button class="toolbar-button" (click)="getHome()">
          <img src="../../assets/images/toolbar/companyLogo.jpg" alt="" class="company-logo">
      </button></span>
    <span>
        <button class="toolbar-button seperator" (click)="getHome()">
            BrainArts International
        </button> </span>
    <span>DREAM IT | WISH IT | DO IT</span>
    <span class="example-spacer"></span>
    <span>
        <a [routerLink]="['aboutCompany']"><button class="toolbar-button" style="border-left:1px solid darkgray;border-right:1px solid darkgray">COMPANY</button></a>
      </span>
    <span>
      <a [routerLink]="['contact']"> <button class="toolbar-button">CONTACT</button></a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>




