<div class="bg">
  <div class="main-text-container">
      <p class="main-text">
          We are Apple, Android and Windows licensed app developers. Big or small we promised for a cost effective mobile application solutions without compromising the quality. WE are specialized for both native and hybrid applications platforms.
      </p>
  </div>
  <div class="main-container"> 
    
        <mat-card class="card-style">
            <div class="apple-img" style="background-image: url('./assets/images/mobile/apple-card.png')">
              <p class="card-main-text">
                  Apple
                </p>
                <!-- <mat-button class="futher-info-apple" (click)="showApple">
                  Click to see more
                </mat-button> -->
            </div>
           
             
          </mat-card>  
    
      
      
          <mat-card class="card-style">
              <div class="android-img" style="background-image: url('./assets/images/mobile/android-card.png')">
                <p class="card-main-text">
                    Android
                  </p>
                </div>
              
          </mat-card>
      <mat-card class="card-style">
          <div class="windows-img" style="background-image: url('./assets/images/mobile/windows-card.png')">
            <p class="card-main-text">
                Windows
              </p>
            </div>
         
      </mat-card>  
      </div>
 
  <!-- <div id="apple-info" ng-show>
      <mat-card class="apple-layer">
          <p>
            sample text
          </p>
        </mat-card>
       
  </div> -->
 
</div>

