<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-tool-bar></app-tool-bar>
</div>

<div class="container-fluid">
  <!--<div class="row">-->
  <div>
  <router-outlet></router-outlet>
  </div>
</div>

<!--footer start-->

<div class="col-sm-12">
  <div class="row footer_top_wrp" style="margin-top: 40px;margin-bottom: 20px">
    <div class="col-xs-12 col-lg-8 col-md-10" style="margin-left: 0;">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <a href="index.php" class="footer_logo">
            <img alt="brain art logo" src="../../assets/images/toolbar/companyLogo.jpg" width="50" class="company-logo">
            <span>
            <button class="footer-heading solid seperator">
              &nbsp; BrainArts International
            </button> </span>
          </a>

          <div class="footer-link-alignment">
            <a [routerLink]="['home']" class="text-uppercase foot_links">HOME</a>
            <a [routerLink]="['ai-ml-dl']" class="text-uppercase foot_links">AI</a>
            <a [routerLink]="['game-development']" class="text-uppercase foot_links">game-development</a>
            <a [routerLink]="['digital-marketing']" class="text-uppercase foot_links">digital-marketing</a>
            <a [routerLink]="['sw-development']" class="text-uppercase foot_links">sw-development</a>
          </div>

        </div>
        <div class="col-md-2 col-sm-6 footer-divs">
          <h4 class="footer-heading">Legal</h4>
          <div class="footer-legal-alignment">
            <a href="terms_of_use.php" class="foot_links">Terms of Use</a>
            <a href="privacy_policy.php" class="foot_links">Privacy Policy</a>
          </div>
          <br>
          <h4 class="footer-heading">Quick Links</h4>
          <div class="footer-legal-alignment">
            <a href="blog" class="foot_links">Blog</a>
          </div>

        </div>
        <div class="col-md-2 col-sm-6">
          <h4 class="footer-heading footer-divs about-us">About Us</h4>
          <div class="footer-legal-alignment">
            <a [routerLink]="['aboutCompany']" class="foot_links">COMPANY</a>
            <a [routerLink]="['contact']" class="foot_links">Contact Us</a>

          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-social-icons">
            <h4 class="footer-heading footer-divs reach-us">Reach Us</h4>
            <div class="facebook">
              <a href="#" target="_blank" class="socila_links"><span><i class="fa fa-facebook"></i></span></a>
            </div>
            <div class="youtube">
              <a href="#" target="_blank" class="socila_links"><span><i class="fa fa-youtube"></i></span></a>
            </div>
            <div class="behance">
              <a href="#" target="_blank" class="socila_links"><span><i class="fa fa-behance"></i></span></a>
            </div>
            <div class="instagram">
              <a href="#" target="_blank" class="socila_links"><span><i class="fa fa-instagram"></i></span></a>
            </div>
            <div class="linkedin">
              <a href="#" target="_blank" class="socila_links"><span><i class="fa fa-linkedin"></i></span></a>
            </div>
            <div class="google-plus">
              <a href="#" target="_blank" class="socila_links"><span><i class="fa fa-google-plus"></i></span></a>
            </div>
            <div class="pinterest">
              <a href="#" target="_blank" class="socila_links"><span><i class="fa fa-pinterest-p"></i></span></a>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-6">
          <h4 class="footer-heading footer-divs contact-us">Contact Us</h4>
          <div class="footer-legal-alignment">
            <p class="foot_links email">hello@brainartsinternational.com</p>
            <p class="foot_links phone">(+94) 112 000 000</p>
            <p class="foot_links company">BrainArtsInternational</p>
            <p class="foot_links no">No 02, 6<sup>th</sup> Lane,</p>
            <p class="foot_links address">Kottawa, Sri Lanka.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bot_wrp text-center">
    <div style="background-image: url('./assets/images/toolbar/footer-design.png')">Copyright © 2018 Brain Arts. All rights reserved.</div>
  </div>
</div>

<!--footer end-->

<div>
<ng4-loading-spinner> </ng4-loading-spinner>
</div>
