<div class="paging-1" >
  <div class="main-img row">
    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/cat.png" width="40" alt="cat1">
        <p>AI, ML & <br> DL</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg');">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/digital-marketing.png" width="40" alt="cat1">
        <p>Game <br> Development</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/sw-development.png" width="40" alt="cat1">
        <p>Digital <br> Marketing</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/web_icon.png" width="40" alt="cat1">
        <p>Software <br> Development</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/ui_icon.png" width="40" alt="cat1">
        <p>Mobile <br> Development</p>
      </div>
    </div>
  </div>
</div>


<div class="col-xs-12">
  <div class="contact-sections" style="background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/4030999/1160/661/m1/fpnw/wm0/nature_background_with_green_leaves_and_grass-.jpg?1519082029&s=59c130c436599da9a10797b63909acfd)">
    <div class="secondDiv">
      <div class="companyLogo">
        <h1>CONTACT US</h1>
        <h4>CAN’T WAIT TO GET IN TOUCH WITH US?</h4>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="contact-us-row">
    <div class="col-md-12 no-padding-left-right">
      <iframe src="https://maps.google.com/maps?q=Brainart%20International%20Pvt%20Ltd.&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<!--<div class="mapouter">-->
  <!--<div class="gmap_canvas">-->
    <!--<iframe width="1000" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Brainart%20International%20Pvt%20Ltd.&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen>-->
    <!--</iframe>-->
  <!--</div>-->
<!--</div>-->

<div class="down-arrow-wrapper">
  <div class="down-arrow">
    <span>
      <i class="fa fa-angle-double-down fa-3x"></i>
    </span>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <h2 class="home-headings text-center" style="margin-bottom: 25px">Get in
      <span class="home-headings-blue">Touch</span>
    </h2>
    <div class="col-md-4">
      <div class="form-group">
        <label class="sr-only" for="name">Your Name</label>
        <input type="text" class="form-control custom-form-control" ngModel name="name" id="name" placeholder="Your Name" #name="ngModel" required>
        <span class="error-message" *ngIf="!name.valid && name.touched || (f.submitted && !name.valid)">Please wnter your name here.</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="sr-only" for="number">Your Phone Number</label>
        <input type="text" class="form-control custom-form-control" id="number" pattern="[0-9]{10}" ngModel name="mobile" placeholder="Your Phone Number" #mobile="ngModel" required>
        <span class="error-message" *ngIf="!mobile.valid && mobile.touched || (f.submitted && !mobile.valid)">Invalid Phone Number.</span>
      </div>

    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="sr-only" for="email">Your Email</label>
        <input type="email" class="form-control custom-form-control" id="email" ngModel name="email" email placeholder="Your Email" #email="ngModel" required>
        <span class="error-message" *ngIf="!email.valid && email.touched || (f.submitted && !email.valid)">Invalid Email Address.</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <textarea class="form-control custom-form-control" rows="3" ngModel name="moreDetails" placeholder="More Details" maxlength="500" #moreDetails="ngModel" required></textarea>
        <span class="error-message" *ngIf="!moreDetails.valid && moreDetails.touched || (f.submitted && !moreDetails.valid)">Please enter your message here.</span>
      </div>
    </div>

    <div class="col-md-12 text-right">
      <button class="btn btn-success green-button" type="submit">SUBMIT</button>
    </div>
  </form>
</div>



