<div class="paging-1" >
  <div class="main-img row">

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/cat.png" width="40" alt="cat1">
        <p>AI, ML & <br> DL</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg');">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/digital-marketing.png" width="40" alt="cat1">
        <p>Game <br> Development</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/sw-development.png" width="40" alt="cat1">
        <p>Digital <br> Marketing</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/web_icon.png" width="40" alt="cat1">
        <p>Software <br> Development</p>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <div class="package-button transbox">
        <img class="main_icon" src="assets/images/home/ui_icon.png" width="40" alt="cat1">
        <p>Mobile <br> Development</p>
      </div>
    </div>
  </div>
</div>



<!--<div class="contact-sections">-->
<!--<h1>CONTACT US</h1>-->
<!--<h4>CAN’T WAIT TO GET IN TOUCH WITH US?</h4>-->
<!--</div>-->

<!--<div class="clients" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/03/53/98/2157995d3895bd3.jpg')">ddd-->
<!--</div>-->


<div class="col-xs-12">
  <div class="contact-sections" style="background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/4030999/1160/661/m1/fpnw/wm0/nature_background_with_green_leaves_and_grass-.jpg?1519082029&s=59c130c436599da9a10797b63909acfd)">
    <div class="secondDiv">
      <div class="companyLogo">
        <h1>CONTACT US</h1>
        <h4>CAN’T WAIT TO GET IN TOUCH WITH US?</h4>
      </div>
    </div>
  </div>
</div>
