.bg{
    height: 100vh;
    width: 100%;
    background: url('../../../assets/images/game-dev/background-gaming.jpg') no-repeat center;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin-top: 10px;
  }
 .main-text {
   font-size: large;
   color: white;
   text-align: center;
   font-weight: bolder;
 }
 .card-container {
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   justify-content: center;
   width: 70%;
   
   
 }
 .card-container:hover {
  
 }
 .card-wrapper {
  margin-top: 2%;
  /* transform: scale(1.05);
  cursor: pointer; */
  transition: transform .2s;
  
 }
 .card-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
 }
 .card-style {
   background-color: white;
   opacity: 0.8;
   height: 50%;
   text-align: center;
   font-size: xx-large;
 }
 .card-text {
  font-size: larger;
  font-weight: bold;
 }
 .img-2d {  
   height: 8%;
   width: 8%;
 }
 .img-3d {
  height: 8%;
  width: 8%;
 }
 .img-master {
  height: 8%;
  width: 8%;
 }
