<div class="bg">
<div >
  <p class="main-text">We are masters of the intricate science and art of game development. By integrating a variety of novel technologies such as virtual reality (VR), augmented reality (AR), advanced image processing and heuristic artificial intelligence algorithms such as deep learning, we conceptualize and bring to life top-notch gaming experiences that are the best in the region. </p>
</div>
<div class="card-container">
  <div class="card-wrapper">
    <mat-card class="card-style">
      <img src="../../../assets/images/game-dev/2d-card-img.png" class="img-2d"/>
      <p>2D Game Development</p>
    </mat-card>
  </div>
  <div class="card-wrapper">
      <mat-card class="card-style">
          <img src="../../../assets/images/game-dev/3d-card-img.png" class="img-3d"/>
        <p>3D Game Development</p>
      </mat-card>
  </div>

  <div class="card-wrapper">
      <mat-card class="card-style">
          <img src="../../../assets/images/game-dev/master-card-img.png" class="img-master"/>
        <p>Master class Game Development</p>
      </mat-card>
  </div>
  
</div>
</div>