<!--slider start-->
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="row home-slider-row">
    <p class="text-nowrap">
      <b>Brain Arts</b>
    </p>

    <!-- Wrapper for slides -->
    <div class="carousel-inner home-slider">
      <div class="item active">
        <div class="home-slider-image" style="background-image: url('./assets/images/about-company/Game-Development.png');"></div>
        <!--<img src="./assets/images/about-company/Game-Development.png" alt="Game Development" style="width:100%;">-->
      </div>

      <div class="item">
        <div class="home-slider-image" style="background-image: url('./assets/images/about-company/Web-Development.png');"></div>
        <!--<img src="./assets/images/about-company/Web-Development.png" alt="Web Development" style="width:100%;">-->
      </div>

      <div class="item">
        <div class="home-slider-image" style="background-image: url('./assets/images/about-company/Digital-Marketing-Software-Market.jpg');"></div>
        <!--<img src="./assets/images/about-company/Digital-Marketing-Software-Market.jpg" alt="Digital Marketing" style="width:100%;">-->
      </div>

      <div class="item">
        <div class="home-slider-image" style="background-image: url('./assets/images/about-company/Software-development.jpg');"></div>
        <!--<img src="./assets/images/about-company/Software-development.jpg" alt="S/W Development" style="width:100%;">-->
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  </div>
<!--slider ends-->

<div id="content-section2" class="content-section black-text gray-bg top-spacing-medium bottom-spacing-medium title-spacing-medium align-center " style="">
  <div class="wrap-column">
    <div class="content-column1">
      <div class="widget-entry">
        <div class="column1">
          <h1 style="text-align: center; font-size: 40px; font-weight: 800; line-height: 40px;">Who we are ?</h1><br><br>
          <div class="content content-box-content">
            <p style="text-align: center; font-size: 25px; font-weight: 300; line-height: 40px;">
              Brain Art is Sri lanka's premier end-to-end digital solutions provider in Mobile and Enterprise Solutions, Artificial Intelligence & Machine Learning, Immersive Technologies, and Game Design and Development.
              <br>
              Fusing creativity and talent with industry-leading technology, our solutions are developed by a team of specialists who strive to enable digital disruption for our clients. Given our proven track record, our clients entrust us with their digital needs, and in turn we help them to reach the unreachable.
              </p>
          </div>
        </div>
        <div class="cleared"></div>
        <div class="cleared"></div>
      </div> <!-- end widget entry -->
    </div>
    <div class="cleared"></div>
  </div><!-- end wrap-column no-wrap -->
</div>


<div class="row cTechnology" style="background-color:#ffffff;">
  <div class="container">
    <div class="col-sm-12 col-md-4 cMainIcon">
      <img src="https://b.content.wso2.com/sites/all/company-page/images/company-open-source.png" alt="Technology" class="img1">
    </div>
    <div class="col-sm-12 col-md-8">
      <h2>Flexible Deployment, Faster Time To Market</h2>
      <p>Brain Arts solutions give enterprises the flexibility to deploy applications and services on-premises, on private or public clouds, or in hybrid environments and easily migrate between them as needed. And because all of the products are pre-integrated, enterprises can focus on value-added services and get to market faster.</p>
    </div>
  </div>
</div>

<div class="row cTechnology" style="background-color:#dddddd;">
  <div class="container">
    <div class="col-sm-12 col-md-8">
      <h2>Rapid, Expert Support</h2>
      <p>Our financial business model is based upon providing the best support in the industry. From project evaluation and inception to development and going into production, we strive for a support experience that customers value and renew.</p>
    </div>
    <div class="col-sm-12 col-md-4 cMainIcon">
      <img src="https://b.content.wso2.com/sites/all/company-page/images/company-support.png" alt="Technology" class="img2">
    </div>
  </div>
</div>

<div class="row cTechnology team" style="background-color:#ffffff;">
  <div class="container">
    <div class="col-sm-12 col-md-4 cMainIcon">
      <div class="row">
      <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/1.jpg');"></div>
      <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/3.jpg');"></div>
      <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/2.jpg');"></div>
      <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/5.jpg');"></div>
    </div>
      <div class="row">
        <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/2.jpg');"></div>
        <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/5.jpg');"></div>
        <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/3.jpg');"></div>
        <div class="col-sm-3 col-md-2 team-members" style="background-image: url('./assets/images/feedbackPic/1.jpg');"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <h2>Committed and Passionate Team</h2>
      <p>The Brain Arts culture is strong; one of radical reliance on open source principles of transparency, meritocracy, and individual responsibility. We work hard; constantly pushing the boundaries of innovation, and we play hard, with many company wide sporting events, celebrations, and charitable work.</p>
    </div>
  </div>
</div>




<!--testimonial start-->
<div class="container-fluid wow zoomIn" id="testimonials" data-wow-duration="2s" data-wow-offset="5">
  <div class="row">

    <div>
      <h2 class="home-headings text-center">Our
        <span class="home-headings-blue">Clients</span> Says</h2>
    </div>

    <div class="testimonial">

      <div *ngFor="let t of testimonials">
        <div class="testimonial-box text-center">
          <div>
            <span>
              <i class="fa fa-quote-left fa-5x"></i>
            </span>
          </div>
          <p>
            <em>{{t.feedback}}</em>
          </p>
        </div>
        <div class="pro-pic" [style.backgroundImage]="'url('+ t.imagePath+'/'+t.clientImage +')'"></div>

        <div class="pro-pic-description">
          <p>
            <strong>{{t.name}}</strong>
          </p>
          <p>
            <small>{{t.city}} {{t.country}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--testimonial end-->
