<div class="bg" >
  <div class="main-text-container" (scroll)="scrollFunction($event)">
    <p class="main-text">
        LET US GUIDE YOU THROUGH YOUR
        DIGITAL TRANSFORMATION 
    </p>
  </div>
  <div class="card-container ">
    <mat-card class="card-style animated slideInLeft delay-5s">
        <p class="card-main-text">
            web solutions
          </p>
          <p class="card-sub-text">
              Your website is your global business partner, representing your organization in all corners of the world. This is your best means of building, positioning and promoting your brand, while conveying your organization’s significance in the business world.

              We know how important your business is and that is why we take our business of promoting yours very seriously.
          </p>
    </mat-card>
    
    <mat-card class="card-style animated zoomIn delay-10s">
        <p class="card-main-text">
            Enterpise Application solutions
          </p>
          <p class="card-sub-text">
              An enterprise application is a business application, obviously. As most people use the term, it is a big business application. In today's corporate environment, enterprise applications are complex, scalable, distributed, component-based, and mission-critical.
          </p>
    </mat-card>
   <mat-card class="card-style animated slideInRight delay-5s">
      <p class="card-main-text">
          Network related solutions
        </p>
        <p class="card-sub-text">
            Improving business processes through better technical infrastructure is the key to continued, sustainable success. In the modern business environment, there is simply no reason to address your IT needs alone—Viyu has the resources and expertise to develop customized solutions and implement them into your business processes.

            Our goal is to provide businesses, both large and small, with everything they need to operate with optimal efficiency.
        </p>
   </mat-card>
   
  </div>
</div>