<div class="bg">
  <div class="main-text-container">
    <p class="main-text">
        LET US GUIDE YOU THROUGH YOUR
        DIGITAL TRANSFORMATION 
    </p>
  </div>
  <div class="card-container">
    <mat-card class="card-style">
        <p>
            web solutions
          </p>
    </mat-card>
    <mat-card class="card-style">
        <p>
            web solutions
          </p>
    </mat-card>
    
    <mat-card class="card-style">
        <p>
            Enterpise application solutions
          </p>
    </mat-card>
   <mat-card class="card-style">
      <p>
          Network related solution
        </p>
   </mat-card>
   
  </div>
</div>