.bg{
    height: 100vh;
    width: 100%;
    background: url('../../../assets/images/digital/background-digital.jpg') no-repeat center;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin-top: 10px;
  }