<div class="bg">
  <div class="">
    <p class="main-text">
        We offer a wide range of Digital Marketing services including Web Designing, Search Engine Optimisation, Social Media Marketing, and Content Marketing.
    </p>
  </div>
  <!-- <div>
    <p>
        Online Reputation Management

        We help you build a strong online reputation that boosts your online presence. If your online reputation has been affected negatively, we address them and convert them to a positive.
    </p>
    <p>
        Conversion Rate Optimization

        We analyze your statistics, website and products and help you build a conversion strategy that converts your visitors to customers.
    </p>
    <p>
        Real-Time Social Media Analytics

        We analyze your data with regards to your social media platforms and produce reports that will help you make the right digital marketing decisions.
    </p>
  </div> -->
  <div class="card-container">
    <mat-card class="card-style">
      <img src="../../../assets/images/ai/ai-card-icon.png" class="ai-img"/>
      <p class="card-text">Online Reputation Management</p>
      <p class="card-sub-text">We help you build a strong online reputation that boosts your online presence. If your online reputation has been affected negatively, we address them and convert them to a positive.</p>
    </mat-card>
    <mat-card class="card-style">
      <img src="../../../assets/images/ai/ml-card-icon.png" class="ml-img"/>
      <p class="card-text">Conversion Rate Optimization</p>
      <p class="card-sub-text">We analyze your statistics, website and products and help you build a conversion strategy that converts your visitors to customers.</p>
      </mat-card>
    <mat-card class="card-style">
        <img src="../../../assets/images/ai/dl-card-icon.png" class="dl-img"/>
      <p class="card-text">Real-Time Social Media Analytics</p>
      <p class="card-sub-text">We analyze your data with regards to your social media platforms and produce reports that will help you make the right digital marketing decisions.</p>
    </mat-card>   
    
  </div>

</div>